body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.js{
    color: rgb(255, 196, 0);
}
p{
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
}
.cursor{
    background: rgb(27, 161, 0);
}

.text{
    color: rgb(27, 161, 0);
}