* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(rgb(204, 241, 130), rgb(174, 174, 247));
    font-family: system-ui;
}

.container {
    width: 60%;
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
}

.container h1 {
    padding-bottom: 20px;
}

.container button {
    width: 110px;
    background: #000;
    color: white;
    height: 40px;
    margin-top: 20px;
}

.container .paragraph {
    /* border: 1px solid red; */
    height: 160px;
    overflow: hidden;
    max-height: 400px;
}

.paragraph p .active {
    display: none;
}

.container .active {
    height: 100%;
    transition: height 1s linear;
}